[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
mlflow = "*"
xgboost = "*"
hyperopt = "*"
feature-engine = "*"
joblib = "*"
jupyter = "*"
prefect = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
